<div class="flash-M">
  <%= flash[:notice] %>
</div>

<div class="show-title">
  Title:
  <%= @book.title %>
</div>

<div class="show-body">
  Body:
  <%= @book.body %>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>   | 

<a href="/books">Back</a>
 
