<div class="flash_M">
  <%= flash[:notice] %>
</div>

<div class="show_title">
  <strong>Title:</strong>
  <%= @book.title %>
</div>

<div class="show_body">
  <strong>Body:</strong>
  <%= @book.body %>
</div>

<div class="show_action">
  <%= link_to "Edit", edit_book_path(@book.id) %>   | 

  <a href="/books">Back</a>
</div> 
